<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>模板继承</title>
        <style>
            *{
                margin: 0;
                padding: 0;
            }
            .nav{
                height: 50px;
                width: 100%;
                position: fixed;
                top: 0;
                background-color: black;
            }
            .main{
                margin-top: 50px;
            }
            .menu{
                width: 20%;
                height: 100%;
                position: fixed;
                left: 0;
                background-color: #bfa;
            }
            .content{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="nav"></div>
        <div class="main">
            <div class="menu"></div>
            <div class="content">
                {{block "content" .}}
                {{end}}
            </div>
        </div>
    </body>
</html>