.box1{
    .box2{
        color: red;
    }

    >.box3{
        color: red;
    }

    // 为box1设置一个hover
    // &就表示外层的父元素
    &:hover{
        color: orange;
    }
    div &{
        width: 100px;
    }
}

.p1{
    width: 100px;
    height: 100px;
}

// :extend() 对当前选择器扩展指定选择器的样式 (选择器分组)
.p2:extend(.p1){
    color: red;
}

.p3{
    // 直接对指定的样式进行引用，这里就相当于将p1的样式在这里进行了负值
    // mixin 混合
    .p1();
}

// 使用类选择器时可以在选择器后边伊奥你家一个括号，这时我们实际上就创建了一个mixins
.p4(){
    width: 100px;
    height: 100px;
    background-color: #bfa;
}
.p5{
    .p4();
}

// 混合函数 在混合函数中可以直接设置变量
.test(@w: 100px, @h){
    width: @w;
    height: @h;
    border: 1px solid red;
}

div{
    // 调用混合函数，按顺序传递参数
    // .test(200px, 300px);
    .test(@h: 300px, @w: 200px);
}
span{
    color: average(red, blue);
}

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #bfa;
}
body:hover{
    background-color: darken(#bfa, 50%);
}