@font-face{
    font-family: MyFont;
    src: url("../fa/font/segoesc.ttf");
}
html{
    width: 1000px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
// 设置header
header {
    .title{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        h1{     
            font-size: 30px;
            a{
                color: rgb(76, 183, 168);
            }
        }
        form{
           input{
                width: 200px;
                height: 22px;
                text-align: center;
           }
        }
    }

    .nav{
        position: relative;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        
        >li{
            border: 1px solid rgba(0, 0, 0, .3);
            border-right: none;
            flex-grow: 1;
            
            >a{
                color: rgb(76, 183, 168);
                font-family: MyFont;
            }

            // 设置弹出层
            .bonus{
                width: 900px;
                // height: 666px;
                height: 0;
                padding: 0 50px;
                position: absolute;
                background-color: white;
                top: 40px;
                overflow: hidden;
                left: 0;
                transition: 1s;
                .title{
                    display: flex;
                    justify-content: left;
                    span{
                        display:block;
                        width: 5px;
                        height: 22px;
                        margin-top: 9px;
                        background-color: rgb(76, 183, 168);
                        margin-right: 15px;
                    }
                    h2{
                        font-size: 22px;
                    }
                }
                .message-wrapper{
                    height: 300px;
                    overflow: hidden;
                    display: flex;
                    line-height: 1.5;
                    justify-content: space-evenly;
                    align-items: center;
                    img{
                        width: 200px;
                    }
                    .message{
                        width: 500px
                    }
                    .lable{
                        width: 100px;
                        background-color: rgb(253, 193, 48);
                        border: 1px solid rgb(179, 158, 72);
                        span{
                            
                        }
                    }
                }
            }

            // context弹出层
            .context-top{
                display: flex;
                justify-content: space-around;
                h2{
                    font-size: 20px;
                    text-align: left;
                }
                .catogary{
                    margin-top: 40px;
                    a{
                        display: block;
                        margin-bottom: 5px;
                        border: 1px solid rgba(0, 0, 0, .3);
                    }
                }
                .context-wrapper{
                    margin-top: 40px;
                    width: 600px;
                    h2{
                        border-bottom: 1px solid rgb(76, 183, 168);
                    }
                    nav{
                        display: flex;
                        justify-content: space-evenly;
                        a{
                            color: rgb(81, 132, 185);
                        }
                    }
                }
            }

            // worked弹出层
            .worked{
                .book-list{
                    ul{
                        li{
                            display: flex;
                            justify-content: space-evenly;
                            margin-top: 20px;
                            a{
                                display: block;
                                width: 180px;
                                height: 280px;
                                color: black;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            // forum弹出层
            .forum{
                ul{
                    margin-top: 20px;
                    border: 1px solid rgba(0, 0, 0, .3);
                    
                    li{
                        height: 70px;
                        line-height: 70px;
                        padding: 0 10px;
                        &:not(:first-child){
                            display: flex;
                            justify-content: space-between;
                        }
                        &:not(:last-child){
                            border-bottom: 1px solid rgba(0, 0, 0, .3);
                        }
                        h2{
                            font-size: 20px;
                        }
                    }
                    
                }
            }

            // FAQs 弹出层
            .FAQs{
                h2{
                    font-size: 20px;
                    text-align: left;
                }
                ul{
                    li{
                        line-height: 1.5;
                        text-align: left;
                        margin: 30px 0;
                        div{
                            display: flex;
                            span{
                                display:block;
                                width: 5px;
                                height: 22px;
                                background-color: rgb(76, 183, 168);
                                margin-right: 15px;
                            }
                            h3{
                                font-weight: bold;
                            }
                        }
                        p{
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        >li:last-child{
            border-right: 1px solid rgba(0, 0, 0, .3);
        }
        >li:hover .bonus{
            height: 666px;
        }
    }

}

// 设置main
main{

    .active{
        width: 900px;
        margin: 0 auto;
        .title{
            display: flex;
            // margin: 20px 0;
            padding: 20px 0;
            span{
                display:block;
                width: 5px;
                height: 22px;
                background-color: rgb(76, 183, 168);
                margin-right: 15px;
            }
            h2{
                font-size: 22px;
            }
        }
        .intro{
            p{
                line-height: 1.3;
            }
        }
        .link-list{
            ul{
                li{
                    margin-left: 20px;
                    height: 50px;
                    line-height: 50px;
                    a{
                        color: rgb(87, 134, 209);
                    }
                }
            }
        }
    }
    .mes{
        table{
            width: 100%;
            tr{
                border: 1px solid rgba(0, 0, 0, .3);
                th{
                    border-right: 1px solid rgba(0, 0, 0, .3);
                    height: 40px;
                    line-height: 40px;
                    a{
                        color: rgb(87, 134, 209);;
                    }
                }
            }
        }
    }
}

// 设置footer
footer{
    position: relative;
    width: 900px;
    height: 40px;
    line-height: 45px;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    .title{
        padding: 0 20px;
        background-color: rgb(57, 187, 171);
    }
    .contact{
        i{
            margin-right: 7px;
            font-size: 42px;
        }
        .fa-facebook{
            color: rgb(65, 89, 149);
        }
        .fa-instagram{
            color: rgb(215, 44, 151);
        }
        .fa-twitter-square{
            color: rgb(93, 139, 198);
        }
        .fa-weixin{
            color: rgb(89, 188, 61);
        }
    }
    .copyright{
        width: 900px;
        line-height: 1;
        margin: 0 auto;
        text-align: center;
        background-color: rgb(57, 187, 171);
        position: absolute;
        left: 0;
        bottom: -40px;
        right: 0;
    }
}