<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>修改默认的模板引擎标识符</title>
    </head>
    <body>
        <div>Hello {[.]}</div>
    </body>
</html>