a{
    text-decoration: none;
    color: white;
    &:hover{
        color: rgb(197, 196, 196);
    }
}

.top-bar-wrapper{
    background-color: black;
}

// 导航条的外部容器
.top-bar{
    max-width: 1200px;
    margin: 0 auto;
    height: 48px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

// 设置左侧的导航
.left-menu{
    // 设置菜单
    .nav{
        display: none;
        position: absolute;
        // 设置铺满屏幕
        top: 48px;
        left: 0;
        bottom: 0;
        right: 0;
        // 设置背景颜色
        background-color: black;
        li{
            width: 80%;
            margin: 0 auto;
            border-bottom: 1px solid #757474;
            a{
                display: block;
                line-height: 44px;
                font-size: 14px;
            }
            &:last-child a{
                display: inline-block;
            }

            span{
                color: white;
                font-size: 14px;
            }
        }

    }

    &:active{
        // 显示隐藏的菜单
        .nav{
            display: block;
        }
    }


    // 图标
    .menu-icon{
        width: 18px;
        height: 48px;
        position: relative;
        
        
        li{
            width: 100%;
            height: 1px;
            background-color: white;
            position: absolute;
            transition: all 0.5s linear;
            // 修改变形原点
            transform-origin: left center;
        }

        li:nth-child(1){
            top: 18px;
        }
        li:nth-child(2){
            top: 24px;
        }
        li:nth-child(3){
            top: 30px;
        }

        &:active{
            li:nth-child(1){
                transform: rotateZ(40deg);
            }
            li:nth-child(2){

                // 隐藏
                opacity: 0;
            }
            li:nth-child(3){
                transform: rotateZ(-40deg);
            }
        }
    }
}

// 设置logo 
.logo{
    a{
        text-indent: -9999px;
        display: block;
        width: 122px;
        height: 32px;
        background-image: url("../img/dff63979.sprites-index@2x.png");
        background-size: 400px 400px;
    }
}

// 设置媒体查询
@media only screen{
    @media (min-width: 768px){
        .left-menu{
            order: 2;
            flex: auto;
            // 显示菜单
            .nav{
                display: flex;
                position: static;
                padding: 0;
                justify-content: space-around;
                li{
                    width: auto;
                    border-bottom: none;
                    margin: 0;
                    a{
                        line-height: 48px;
                    }
                    span{
                        display: none;
                    }
                }
            }
            // 隐藏菜单图标
            .menu-icon{
                display: none;
            }
        }
        .logo{
            order: 1;
        }
        .user-info{
            order: 3;
        }
    }
}