/* 主页index.html的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置行高 */
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

/* 设置超链接的颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

/* 设置超链接移入的效果 */
.topbar a:hover{
    color: white;
}

/* 设置中间的分割线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}


/* 设置左侧导航栏 */
.service, .topbar li{
    float: left;
}
.app{
    position: relative;
}
.app::after{
    display: none;
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    /* 设置四个方向的边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.app:hover::after,
.app:hover .qrcode{
    display: block;
    height: 148px;
}
/* 设置app的下拉框 */
.app .qrcode{
    position: absolute;
    left: -40px;
    width: 124px;
    height: 0px;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: white;
    z-index: 999;
    
    /* transition: 用于为样式设置过渡效果 */
    transition: height 0.3s;
}
/* 设置二维码的图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px; 
    margin-bottom: 10px;
}
/* 设置二维码中的文字 */
.app .qrcode span{
    color: #000;
    font-size: 15px;
}
/* 设置右侧导航栏 */
.shop-cart, .user-info{
    float: right;
}

.shop-cart{
    margin-left: 26px;
}
/* 设置购物车的样式 */
.shop-cart a{
    position: relative;
    width: 120px;
    background-color: #424242;
    text-align: center;
    z-index: 99999;
}
.shop-cart li{
    position: relative;
}
.shop-cart i{
    margin-right: 2px;
}
.header-wrapper{
    position: relative;
}
.shop-cart:hover a{
    background-color: white;
    color: #FF6700;
}

/* 设置购物车的下拉框 */
.shop-cart .shop-list{
    text-align: center;
    width: 350px;
    height: 0px;
    line-height: 100px;
    font-size: 12px;
    overflow: hidden;
    background-color: white;
    position: absolute;
    left: -230px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    transition: height 0.3s;
    z-index: 9999;
}
.shop-cart:hover .shop-list{
    height: 100px;
}

/* 设置中间的header */
.header{ 
    height: 100px;
    background-color: white;
}
/* 设置logo的h1的样式 */
.header .logo{
    position: relative;
    float: left; 
    width: 55px;
    height: 55px;
    margin-top: 22px;
    overflow: hidden;

    /* 隐藏logo中的文字 */
    text-indent: -900px;
}
/* 统一设置logo的超链接 */
.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0px;
    background-color: rgb(255, 103, 0);
    background-image: url("../img/logo/mi-logo.png");
    background-position: center;
    transition: left 0.3s;
}
/* 设置home图片 */
.header .logo .home{
    left: -55px;
    background-image: url("../img/logo/mi-home.png");
}
/* 设置鼠标移入以后两个图标的位置 */
.header .logo:hover .mi{
    left: 55px;
}
.header .logo:hover .home{
    left: 0px;
}

/* 设置中间的导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header .nav{
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}
/* 设置导航条中的li */
.nav-wrapper .nav > li{
    float: left;
}
.all-goods-wrapper{
    position: relative;
}

/* 设置左侧导航条的样式 */
.left-menu{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .3);
    position: absolute; 
    left: -120px;
    line-height: 1;
    z-index: 999;
}
.nav .left-menu a{
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0px 30px; 
    color: white;
    margin-right: 0px;
    font-size: 14px;
}
.nav .left-menu li:hover a{
    color: white;
    background-color: #FF6700;
}
.nav .left-menu li:hover .phone-bonus{
    display: block;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}

.nav-wrapper li  a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
.nav-wrapper li a:hover{
    color: #FF6700; 
}
/* 弹出层 */
.left-menu .phone-bonus{
    display: none;
    position: absolute;
    width: 992px;
    height: 460px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    top: 0px;
    left: 234px;
    text-align: center;
}
.left-menu .phone-bonus span{
    margin:50px 0px;
    display: block;
    font-size: 50px;
}
/* 隐藏全部商品分类 */
.all-goods{
    visibility: hidden;
}

.nav .goods-info{
    position: absolute;
    width: 100%;
    /* height: 228px; */
    height: 0px;
    overflow: hidden;
    background-color: white;
    top: 100px;
    left: 0px;
    z-index: 999;
    transition: height 0.3s;
}

.nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}
.goods-info .phone a{
    float: left;
    line-height: 0;
    text-align: center;
    width: 200px;
    height: 137px;
}
.goods-info .phone .line{
    /* display: block; */
    float: left;
    width: 2px;
    height: 100px;
    margin-top: 30px;
    background-color: rgb(224, 224, 224);
}
.goods-info .phone img{
    width: 160px;
    margin-top: 28px;
}
.goods-info a span{
    display: block;
    line-height: 1.6;
}
.goods-info a .model{
    margin-top: 20px;
}
.goods-info a .price{
    color: #FF6700;
}

/* 设置搜索框的容器 */
.search-wrapper {
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;

}
.search-wrapper .search-inp{
    float: left;
    box-sizing: border-box;
    padding: 0px 10px;
    border: none;
    width: 244px;
    height: 50px;
    font-size: 15px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
    position: relative;
    z-index: 999;
}

/* 设置input获取焦点后的样式 */

.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + .search-but{
    border-color: #FF6700;
    z-index: 9999;
}
.search-wrapper .search-but{
    float: left;
    width: 52px;
    height: 50px;
    padding: 0px;
    border: none;
    background-color: white;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}
.search-wrapper .search-but:hover{
    background-color: #FF6700;
    color: white;
    border: none;
}


/* 搜索框弹出层的样式 */
.search-wrapper .hot-spot{
    display: none;
    box-sizing: border-box;
    width: 244px;
    height: 370px;
    line-height: 23px;
    border: 1px solid #FF6700;
    background-color: white;
    position: relative;
    z-index: 99;
}
.search-wrapper .search-inp:focus ~ .hot-spot{
    display: block;
}
.search-wrapper .hot-spot a{
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    background-color: white;
}
.search-wrapper .hot-spot a:hover{
    background-color: rgb(250, 250, 250);
}

.search-wrapper .search{
    position: relative;
}
.search-wrapper .first,
.search-wrapper .second{
    position: absolute;
    color: rgb(117, 117, 117);
    background-color: rgb(238, 238, 238);
    font-size: 12px;
    left: 50px;
    top: 0;
    margin: 18px 0;
    z-index: 999;
}
.search-wrapper .second{
    margin-left: 100px;
}
.search-wrapper .first:hover,
.search-wrapper .second:hover{
    background-color: rgb(255, 103, 0);
    color: white;
}
/* 设置banner */
.banner{
    position: relative;
    height: 460px;
}
.banner .img-list li{
    position: absolute;
}
.banner .img-list .first{
    z-index: 2;
}
.banner img{
    width: 100%;
    vertical-align: top;
}
/* 设置5个导航点 */
.pointer{
    position: absolute;
    bottom: 22px;
    right: 35px;
    z-index: 99;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    margin-left: 6px; 
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
}
.pointer a:hover,
.pointer .active{
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .4);
}
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url("../img/banner/icon-slides.png");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 99;
}
.prev-next .prev{
    left: 234px;
    background-position-x: -84px;
}
.prev-next .prev:hover{
    background-position-x: 0;
}
.prev-next .next{
    right: 0px;
    background-position-x: -125px;
}
.prev-next .next:hover{
    background-position-x: -42px;
}



/* 设置回到顶部的元素 */
.back-top{
    width: 24px;
    height: 204px;
    background-color: white;
    border: 1px solid rgb(245, 245, 245);

    position: fixed;
    right: 50%;
    margin-right: -639px;
    bottom: 50px;
    z-index: 9999;
}
.back-top li{
    position: relative;
    
}
.back-top li:not(:last-child){
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.back-top li a{
    display: block;
    font-size: 16px;
    text-align: center;
}
.back-top li:last-child i{
    padding-top: 12px;
}
.back-top .left-qrcode{
    width: 140px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: -161px;
    background-color: white;
    line-height: 1.5;
    text-align: center;
}
.back-top .bouns{
    display: none;
}
.back-top .vector-wrapper{
    width: 20px;
    height: 42px;
    position: absolute;
    left: -21px;
    top: 0px;
}
.back-top .vector-wrapper .vector{
    width: 0px;
    height: 0px;
    border: 10px solid white;
    border-color: transparent transparent transparent white;
    border-right: none;
    margin-top: 12px;
}
.back-top .left-qrcode img{
    margin-top: 20px;
    width: 110px;
}
.back-top .left-qrcode span{
    display: block;
}
.back-top li:hover a{
    color: rgb(255, 103, 0);
}
.back-top li:first-child:hover .bouns,
.back-top li:first-child .bouns:hover{
    display: block;
}
/* 设置下部的广告区域 */
.ad{
    height: 170px;
    margin-top: 14px;
}

.ad .shortcut,
.ad .imgs,
.ad li{
    float: left;
}
.ad .shortcut{
    width: 228px;
    height: 168px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: 6px;
}
.ad .shortcut li{
    position: relative;
}
/* 设置上边框 */
.ad .shortcut li::before{
    content: "";
    width: 64px;
    height: 1px;
    background-color: rgb(102, 94, 87);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* 设置左边框 */
.ad .shortcut li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: rgb(102, 94, 87);
}
/* 设置快捷方式中的超链接 */
.ad .shortcut a{
    display: block;
    width: 76px;
    height: 84px;
    color: #cfccca;
    text-align: center;
    font-size: 12px;

    /* 外边距折叠 开启bfc */
    overflow: hidden;
}
.ad .shortcut a:hover{
    color: white;
}
/* 设置图标字体 */
.ad .shortcut i{
    display: block;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 20px;
}
/* 设置左侧的图片 */
.ad .imgs li{
    width: 316px;
    margin-right: 15px;
}
.ad .imgs li:last-child{
    margin: 0;
}
.ad .imgs img{
    width: 100%;
}


/* 闪购列表 */
