<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello {{.Name}}</h1>
        <p>你的密码为{{.PassWord}}</p>
    </body>
</html>