<!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>测试go模板</title>
    </head>
    <body>
        <p>Hello{{.}}</p>
    </body>
</html>